<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css" >
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchController">
     <h1>Lunch Checker</h1>
       <h5>{{instruction}}</h5>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             class="form-control" ng-model="ingredients">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="getMessage();">Check If Too Much</button>
         </div>
         <div class="form-group message">
             {{message}}
         </div>
   </div>
    
</body>
</html>
