@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    background-color: aliceblue;
    margin-top: 10%;
}

.container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    width: 40%;
    padding: 40px 0px 40px 0px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.form-group {
    padding: 10px 0px;;
}

h1 {
    margin-bottom: 40px;
    font-weight: 600;
}

.form-control {
    width: 50%;
}

.form-control, .btn, .message {
    display: block;
    margin: auto;
}

.message { 
    font-size: 1.3em; 
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .container    {
        width: 70%;
    }
    
    .form-control {
        width: 60%;
    }
}

@media only screen and (max-width: 576px) {
    .container    {
        width: 90%;
    }
    
    .form-control {
        width: 75%;
    }
}